table  {
  margin-top: 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}

th:hover {
  color: #5990a0;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
td{
  text-align: left;
}

th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

.header-align{  
  width: 4.35% !important;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 15%;
}
table.scroll {
  /* width: 100%; */ /* Optional */
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }


table.scroll tbody {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
  /* width: 20%; */ /* Optional */
  border-right: 1px solid black;
  /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

.redfamily {
  color: red;
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  align: center;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  margin-top: 40px;
  left: 10%;
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 45px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.sub-row{
  background-color: #b0e0ee;
}

