table  {
  margin-top: 10px;
  text-align: center;
  left: 80%;
  margin-left: -60%;
  max-width: 100%;
  float: none;
  display: inline-table;
  background-color: white;
}

th:hover {
  color: #5990a0;
}

td, th {
  text-align: center;
}
td{
  text-align: left;
}

th {
  white-space: nowrap;
}

th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  /*border: 4px solid transparent;*/
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

.header-align{  
  width: 4.35% !important;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 15%;
}

tbody { border-top: 2px solid black; }

tbody td:last-child, thead th:last-child {
  border-right: none;
}

.redfamily {
  color: red;
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-box {
  left: 100%;
  width: 35%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 7px;
  bottom: 5px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.sub-row{
  color: #0010ee;
}

