<script src="../home/index.ts"></script>
  <div class="col-sm-18 offset-sm-0">
    <alert></alert>
    <app-sidebar-menu></app-sidebar-menu>
      <input type="search" id="myInput" required class="search-box"
             (keyup)="loadLogsBySearch()" (keypress)="loadLogsBySearch()" placeholder="Search" title="Type in a name">
      <button class="close-icon" (click)="resetInput()" type="reset"></button>
    <table class="table table-striped" [mfData]="logsOfData.reverse()" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th style="width: 1%" (click)="sortByUser()"><a class="sort-by">User</a></th>
        <th style="width: 30%;" (click)="sortByEvent()"><a class="sort-by">Events</a></th>
        <th class="header-align" (click)="sortByDate()"> <a class="sort-by">Date/Time of Event</a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let logTrack of mf.data">
        <td>{{logTrack.createdBy}}</td>
        <td>
          <div style="min-width: 100px">{{logTrack.logDataInput}}</div>
          <div style="word-break: break-word" *ngIf="logTrack.logInitial" class="sub-row"><b>Before: </b>{{logTrack.logInitial}}</div>
          <div style="word-break: break-word" *ngIf="logTrack.logFinal" class="sub-row"><b>After: </b>{{logTrack.logFinal}}</div>
        </td>
        <td>{{logTrack.dateTimeOfEvent | date : "M/d/yy h:mm a"}} &nbsp;&nbsp;&nbsp;
          <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator
                  [rowsOnPageSet]="[5, 10, 15, 30, 60, 100]"
          ></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
</div>
