
table  {
  margin-top: 40px;
  text-align: center;
  left:50%;
  margin-left: -200px;
  max-width: 1000px;
  float: none;

  border: 1px solid black;
  display: inline-table;
  background-color: white;
}

th:hover {
  color: #5990a0;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
td{
  text-align: left;
}

th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

.header-align{  
  width: 4.35% !important;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 15%;
}
table.scroll {
  width: 150%;
  border-collapse: collapse;
  border-spacing: 70px;
  border: 1px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }


table.scroll tbody {
  height: 1500px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
   /*width: 20%;   */
  border-right: 1px solid black;
  /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

.redfamily {
  color: red;
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  align: center;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  margin-top: 40px;
  right: 37%;
  width: 100%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 7px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.sub-row{
  background-color: #b0e0ee;
}

