.mat-card {
    position: absolute;
    width: 300px;
    height: 500px;
    z-index: 10;
    top: 25%;
    left: 50%;
    margin: -100px 0 0 -150px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
    0 1px 1px 0 rgb(74, 74, 74),
    0 1px 3px 0 rgb(153, 153, 153);
}
table {
    border-spacing: 25px;
}
td:nth-of-type(2) {
    padding-right: 20px;
}
.column-title {
    font-weight: bold;
}
