<mat-card>
    <mat-card-title>{{ account.accountName }}</mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <td class="column-title">Account#: </td>
                <td> {{ account.accountNumber }}</td>
            </tr>
            <tr>
                <td class="column-title">Acc Name: </td>
                <td>{{account.accountName}}</td>
            </tr>
            <tr>
                <td class="column-title">Acc Description: </td>
                <td>{{account.accountDesc}}</td>
            </tr>
            <tr>
                <td class="column-title">Acc Type: </td>
                <td>{{account.accountType}}</td>
            </tr>
            <tr>
                <td class="column-title">Acc subtype: </td>
                <td>{{account.accountSubType}}</td>
            </tr>

            <tr>
                <td class="column-title">Acc side: </td>
                <td> {{ account.normalSide }}</td>
            </tr>
            <tr>
                <td class="column-title">Acc balance: </td>
                <td>{{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
            </tr>
            <tr>
                <td class="column-title">Acc init balance: </td>
                <td>{{account.accountInitBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
            </tr>
            <tr>
                <td class="column-title">Created by: </td>
                <td>{{account.createdBy}}</td>
            </tr>
            <tr>
                <td class="column-title">Created On: </td>
                <td> {{ account.createdDate | date}}</td>
            </tr>
            <tr>
                <td class="column-title">debit: </td>
                <td>{{account.debit | currency: 'USD': "symbol": '1.2-2'}}</td>
            </tr>
            <tr>
                <td class="column-title">credit: </td>
                <td>{{account.credit | currency: 'USD': "symbol": '1.2-2'}}</td>
            </tr>
            <tr>
                <td class="column-title">Active: </td>
                <td>{{account.accountActive}}</td>
            </tr>
            <tr>
                <td class="column-title">statement: </td>
                <td>{{account.statement}}</td>
            </tr>
            <tr>
                <td class="column-title">comment: </td>
                <td>{{account.comment}}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="basic" matTooltip="Edit the account" [routerLink]="['/accounts/edit',account.id]">Edit</button>
        <button mat-raised-button color="primary" matTooltip="Download the account chart as *.pdf" (click)="downloadHandler(account.id)">Download</button>
        <button mat-raised-button color="warn" [routerLink]="['/accounts']">Cancel</button>
    </mat-card-actions>
    <mat-progress-bar *ngIf="isResultsLoading" mode="indeterminate" color="accent"></mat-progress-bar>
</mat-card>
