<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="title-container-header">
      <div class="center">Owl Accounting</div>
      <div class="center">Balance Sheet</div>
      <div class="center">As of {{date | date:'MMMM dd yyyy'}}</div>
    </div>
    <br>
    <span>Sort by Date: </span>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="date" type="date" class="form-control" name="date" (change)="dateChange()">
    </div>
    <button mat-raised-button color="primary" type="button" value="Download" (click)="captureScreen()">Download</button>
    <table style="border: 1px solid #ddd;" class="table table-striped" id="balance-sheet-table" *ngIf="!dateSelectorEnabled">
      <tbody>
      <tr class="header-color"><td><h5 style="color: blue">Assets</h5></td>
        <td></td><td></td></tr>
      <tr class="header-color"><td><div class="table-heading">Current Assets</div></td>
        <td></td><td></td>
      </tr>
      <tr class="hoverStyle" *ngFor="let account of accountList">
        <td *ngIf="(account.accountType === 'Asset' && account.accountTerm ==='Current Asset') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td *ngIf="(account.accountType === 'Asset' && account.accountTerm ==='Current Asset') && account.accountActive === true">
          <span  *ngIf="account.accountName === 'Cash'"></span>{{account.accountBalance | number:'1.2' }}</td>
        <td *ngIf="(account.accountType === 'Asset' && account.accountTerm ==='Current Asset') && account.accountActive === true"></td>
      </tr>


      <tr class="hoverStyle" *ngFor="let account of accountList">
        <td *ngIf="(account.accountType === 'Asset' && account.accountTerm !=='Current Asset') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a>
        </td>
        <td style="float: right" *ngIf="(account.accountType === 'Asset' && account.accountTerm !=='Current Asset' && account.accountName !== 'Accumulated Depreciation') &&
        account.accountActive === true">{{account.accountBalance | number:'1.2'}}
        </td>
        <span *ngIf="account.accountName === sortAssets()"></span>
        <td *ngIf="(account.accountType === 'Asset' && account.accountTerm !=='Current Asset') && account.accountActive === true"></td>
      </tr>

      <tr>
          <td><b class="table-heading">Total Current Asset</b></td>
          <td></td>
          <td><u><b>{{totalCurrentAssets() | currency: 'USD': "symbol": '1.2-2'}}</b></u></td>
      </tr>

      <tr class="header-color"><td><div class="table-heading">Non-current Assets</div></td></tr>

      <tr class="hoverStyle" *ngFor="let account of accountList">
          <td *ngIf="(account.accountType === 'Asset' && account.accountSubType !=='Current Asset') && account.accountActive === true">
              <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a>
          </td>
          <td style="float: right" *ngIf="(account.accountType === 'Asset' && account.accountSubType !=='Current Asset' && account.accountName !== 'Accumulated Depreciation') &&
        account.accountActive === true">{{account.accountBalance | number:'1.2'}}
          </td>
      </tr>

      <tr>
        <td><div class="table-heading">Total Asset</div></td>
        <td></td>
        <td><u><span class="doubleUnderline"><b>{{totalCurrentAssets() + totalOtherAssets() | currency: 'USD': "symbol": '1.2-2'}}</b></span></u></td>
      </tr>
      <tr class="header-color"><td><h5 style="color: blue">Liability & Equity</h5></td>
        <td></td><td></td></tr>
      <tr>
        <td class="header-color"><div class="table-heading">&nbsp;Liabilities</div></td><td></td><td></td>
      </tr>
      <tr class="header-color"><td><div class="table-heading">Current Liabilities</div></td>
        <td></td><td></td></tr>

      <tr class="hoverStyle" *ngFor="let account of accountList.reverse()">
        <td *ngIf="(account.accountType === 'Liability' && account.accountTerm === 'Current Liability') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp; &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Liability' && account.accountTerm === 'Current Liability') && account.accountActive === true">
          {{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Liability' && account.accountTerm === 'Current Liability') && account.accountActive === true"></td>
      </tr>

<!--      <tr>-->
<!--        <td><div class="table-heading">Total Current Liability</div></td>-->
<!--        <td></td>-->
<!--        <td ><u><b>{{totalCurrentLiability() | currency: 'USD': "symbol": '1.2-2'}}</b></u>&nbsp; &nbsp;</td>-->
<!--      </tr>-->

      <tr class="hoverStyle" *ngFor="let account of accountList.reverse()">
        <td *ngIf="(account.accountType === 'Liability' && account.accountTerm !== 'Current Liability') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp; &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Liability' && account.accountTerm !== 'Current Liability') && account.accountActive === true">
          {{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Liability' && account.accountTerm !== 'Current Liability') && account.accountActive === true"></td>
      </tr>
      <tr>
        <td><b>Total Liability</b></td><td></td><td ><b><u>{{totalLiability() | currency: 'USD': "symbol": '1.2-2'}}
      </u></b>&nbsp; &nbsp;</td>
      </tr>
      <tr class="header-color"><td><div class="table-heading">&nbsp;Owners Equity</div></td>
        <td></td><td></td></tr>

      <tr class="hoverStyle" *ngFor="let account of accountList.reverse()">
        <td *ngIf="(account.accountType === 'Equity') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp; &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Equity') && account.accountActive === true">{{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Equity') && account.accountActive === true"></td>
      </tr>
      <tr><td><div class="table-heading">Total Equity</div></td>
        <td></td><td ><b><u>{{totalEquity() + incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</u></b>&nbsp; &nbsp;</td></tr>
      <tr>
        <td>  &nbsp; &nbsp; &nbsp; &nbsp;Retained Earnings Ending Balance</td>
        <td>{{incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td></td>
      </tr>
      <tr>
        <td><div class="table-heading"> &nbsp; &nbsp; &nbsp; &nbsp;Total Liability & Equity</div></td>
        <td></td>
        <td><u><span class="doubleUnderline"><b>{{totalLiability() + totalEquity() +incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</b></span></u></td>
      </tr>
      </tbody>
    </table>

    <table style="border: 1px solid #ddd;" class="table table-striped" *ngIf="dateSelectorEnabled">
      <thead>
      <tr>
        <th></th>
        <th>Amount</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr class="header-color"><td><h4>Assets</h4></td>
        <td></td><td></td></tr>

      <tr class="hoverStyle" *ngFor="let account of accountList">
        <td *ngIf="(account.accountType === 'Asset') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Asset') && account.accountActive === true">
          <span *ngIf="account.accountName === 'Cash'"></span>{{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Asset') && account.accountActive === true"></td>
      </tr>

      <tr>
        <td><div class="table-heading">Total Asset</div></td>
        <td></td>
        <td><u><span class="doubleUnderline"><b>{{assetAdjustment() | currency: 'USD': "symbol": '1.2-2'}}</b></span></u></td>
      </tr>

      <tr class="header-color"><td><div class="table-heading">Liability & Equity</div></td>
        <td></td><td></td></tr>
      <tr>
        <td class="header-color"><div class="table-heading">&nbsp;Liability</div></td><td></td><td></td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of accountList.reverse()">
        <td *ngIf="(account.accountType === 'Liability') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp; &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Liability') && account.accountActive === true">
          {{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Liability') && account.accountActive === true"></td>
      </tr>

      <tr>
        <td><div class="table-heading">Total Liability</div></td><td></td><td>{{liabilityAdjustment() | currency: 'USD': "symbol": '1.2-2'}}</td>
      </tr>

      <tr class="header-color"><td><h5>&nbsp;Owners Equity</h5></td>
        <td></td><td></td></tr>

      <tr class="hoverStyle" *ngFor="let account of accountList.reverse()">
        <td *ngIf="(account.accountType === 'Equity') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp; &nbsp; &nbsp;{{account.accountName}}</a></td>
        <td  *ngIf="(account.accountType === 'Equity') && account.accountActive === true">
          {{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td *ngIf="(account.accountType === 'Equity') && account.accountActive === true"></td>
      </tr>

      <tr><td><div class="table-heading">Total Equity</div></td>
        <td></td><td>{{equityAdjustment() + incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</td></tr>
      <tr>
        <td>  &nbsp; &nbsp; &nbsp; &nbsp;Retained Earnings Ending Balance</td>
        <td>{{incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</td>
        <td></td>
      </tr>

      <tr>
        <td><b> &nbsp; &nbsp; &nbsp; &nbsp;Total Liability & Equity</b></td>
        <td></td>
        <td><u><span class="doubleUnderline"><b>{{liabilityAdjustment() + equityAdjustment() + incomeEstimation() | currency: 'USD': "symbol": '1.2-2'}}</b></span></u></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
