.table-heading {
  font-size: 16px;
  font-weight: bold;
}

.table tr:nth-child(23) td:nth-child(2):before {
  content: '$';
  right: 20px;
  position: relative;
}

.table td {
  padding: 0.25rem;
}

.table th {
  padding: 0.5rem;
}

.center{
  text-align: center;
  font-size: 24px;
  color: white;
}

.doubleUnderline {
  text-align: right;
  text-decoration:underline;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.align-right{
  text-align: right;
}

.singleUnderline{
  text-align: right;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

/*.header-color{*/
  /*color: #126178;*/
/*}*/

.title-container-header{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #3D7AC1 ;
}

.input-group{
  width: 180px
}
