.page-container {
  scroll-behavior: unset;
}

.menu-bar {
  position: absolute;
  top: 260px;
  left: 800px;
  color: rgb(255, 255, 255);
  background-color: #ff4081;
}
.table-container {
  display: flex;
  flex-direction: column;
  max-height:1800px;
  min-width: 1800px;
  position: fixed;
  left: 50px;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-cell{
  display:flex !important;
  justify-content:right!important;

}

mat-header-cell {
  display:flex;
  justify-content:right;
}
