.example-spacer {
  flex: 1 1 auto;
}

body {
  font-family: "Lato", sans-serif;
}

.my-toolbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  /*background-color: black;*/
}

.sidenav {
  position: fixed;
  margin-top: 64px;
  left: 0;
  width: 240px;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}

.logout-option{
  position: absolute;
  bottom: 10px;
}

.avatar-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  /*border-bottom: 2px solid #e9ecef;*/
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

.sidenav h3 {
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

.roles {
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

/*.md-toolbar-tools {*/
/*  right: -300px;*/
/*}*/

.md-toolbar-tools a:hover {
  color: #ffae91;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.my-container { /*fix me*/
  width: 100%;
}

.my-is-mobile .my-toolbar {
  position: sticky;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.my-app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  z-index: 2;
}

.my-is-mobile .my-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: auto;
}

