<div class="my-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="my-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Owl Accounting</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
      <img src="./assets/img_avatar.png" class="avatar-image">
      <h3>
        {{currentUser?.firstName}} {{currentUser?.lastName}}
      </h3>
      <br>
      <a></a>
      <a [routerLink]="['/home']">Dashboard</a>
      <a *ngIf="currentUser?.role === '1'" [routerLink]="['/userAccounts']">User Accounts</a>
      <a [routerLink]="['/logsPage']">Logs</a>
      <div class="logout-option"><a [routerLink]="['/login']">Logout</a></div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

