<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <app-sidebar-menu></app-sidebar-menu>
        <div class="user-account">
           <button class="btn btn-basic"><a [routerLink]="['/createUser']" *ngIf="currentUser.role === '1'">New User</a></button>
            <form>
                <input type="search" id="myInput" required class="search-box"
                       (keyup)="loadUsersBySearch()" (keypress)="loadUsersBySearch()"
                       placeholder="Search by name or username" title="Type in a name">

                <button class="close-icon" (click)="resetInput()" type="reset"></button>
            </form>
        </div>
    </div>
</div>

<div class="sidenav">
    <table class="table table-striped">
        <thead>
        <tr>
            <th (click)="sortByUsername()"><a >Username</a></th>
            <th (click)="sortByFirstName()"><a class="sort-by">First Name</a></th>
            <th (click)="sortByLastName()"><a class="sort-by">Last Name</a></th>
            <th (click)="sortByAccountType()"><a class="sort-by">Account Type</a></th>
            <th (click)="sortByAccountDeactivate()"><a class="sort-by">Account Active</a></th>
            <th *ngIf="isAdmin(currentUser)" (click)="sortByAccountDeactivate()"><a class="sort-by">Deactivate/Activate</a></th>
            <th *ngIf="currentUser.role === '1'"><a class="sort-by">Password</a ></th>
            <th *ngIf="isAdmin(currentUser)" (click)="sortByPasswordExpired()"><a class="sort-by">Password Expired</a></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" [hidden]="currentUser.role !== '3'">
            <td>{{user.username}} </td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{userRole(user.role)}}</td>
            <td>{{user.accountActive}}</td>
        </tr>

        <tr *ngFor="let user of users" [hidden]="currentUser.role !== '2'">
            <td>{{user.username}} </td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{userRole(user.role)}}</td>
            <td>{{user.accountActive}}</td>
            <td>{{user.passwordExpired}}</td>
        </tr>

        <tr *ngFor="let user of users; let i = index" [hidden]="currentUser.role !== '1'">
            <td>{{user.username}} </td>
            <td contenteditable="true" (blur)="changeValue(user, 'fName', $event)">{{user.firstName}}</td>
            <td contenteditable="true" (blur)="changeValue(user, 'lName', $event)">{{user.lastName}}</td>
            <td><app-dropdown-user-roles [user]="user" ></app-dropdown-user-roles></td>
            <td>{{user.accountActive}}</td>
            <td *ngIf="user.accountActive"><a (click)="deactivateUser(user, currentUser)" class="text-danger">Deactivate</a></td>
            <td *ngIf="!user.accountActive"><a (click)="activateUser(user, currentUser)" class="text-danger">Activate</a></td>
            <td *ngIf="currentUser.role === '1'"><a class="text-danger" (click)="resetPassword(user, currentUser)">Reset</a></td>
            <td>{{user.passwordExpired}}</td>
        </tr>
        </tbody>
    </table>
</div>

