<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <app-sidebar-menu></app-sidebar-menu>
        <div *ngIf="accountBalanceError" class="alert-danger">Account Balance must be zero</div>
        <form>
            <input type="search" id="myInput" required class="search-box" (keyup)="loadUsersBySearch()"
                   (keypress)="loadUsersBySearch()" placeholder="Search by name or username" title="Type in a name">
            <button class="close-icon" (click)="resetInput()" type="reset"></button>
            <button mat-raised-button color="primary"
                        matTooltip="Create a new account record"
                        [routerLink]="['/createNewAccount']"
                        *ngIf="currentUser.role === '1'">Add Account</button>
        </form>
    </div>
</div>
<div [ngClass]="currentUser.role !== '1' ? 'sidenav-user-role': 'sidenav'">
    <table class="table table-striped" [mfData]="accountList" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th (click)="sortByAccountnumber()"><a>Number</a> <a class="sort-by"></a></th>
            <th (click)="sortByOrder()"><a>Order</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountName()"><a>Account Name</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountType()"><a>Account Type</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountSubType()"><a>Account Subtype</a> <a class="sort-by"></a></th>
            <th (click)="sortByNormalSide()"><a>Normal Side</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountBalance()"><a>Account Balance</a> <a class="sort-by"></a></th>
            <th (click)="sortByInitBalance()"><a>Initial Balance</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountCreatedBy()"><a>Created By</a> <a class="sort-by"></a></th>
            <th (click)="sortByAccountCreatedOn()"><a>Created On</a> <a class="sort-by"></a></th>
<!--            <th><a>Debit</a> <a class="sort-by"></a></th>-->
<!--            <th><a>Credit</a> <a class="sort-by"></a></th>-->
            <th><a>Statement</a> <a class="sort-by"></a></th>
            <th><a>Comment</a><a class="sort-by"></a></th>
<!--            <th><a>Description</a><a class="sort-by"></a></th>-->
            <th *ngIf="isAdmin(currentUser)" (click)="sortByAccountStatus()"><a>Deactivate/Activate</a> <a class="sort-by"></a></th>
            <th style="text-align: center"  *ngIf="isAdmin(currentUser)" (click)="sortByAccountStatus()"><a>Edit</a><a class="sort-by"></a></th>
            <th style="text-align: center"  *ngIf="isAdmin(currentUser)" (click)="sortByAccountStatus()"><a>View</a><a class="sort-by"></a></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let chartOfAccounts of mf.data;" [hidden]="currentUser.role !== '1'">
            <td >{{chartOfAccounts.accountNumber}} </td>
            <td >{{chartOfAccounts.accountOrder}} </td>
            <td (blur)="changeValue(chartOfAccounts, 'name', $event)">{{chartOfAccounts.accountName}} </td>
            <td><app-account-type-selector [account]="chartOfAccounts"></app-account-type-selector></td>
            <td (blur)="changeValue(chartOfAccounts, 'subtype', $event)">{{chartOfAccounts.accountSubType}} </td>
            <td style="text-align: center" (blur)="changeValue(chartOfAccounts, 'normalSide', $event)">{{chartOfAccounts.normalSide}}</td>
            <td (blur)="changeValue(chartOfAccounts, 'balance', $event)">{{chartOfAccounts.accountBalance | currency: 'USD': "symbol": '1.2-2'}} </td>
            <td (blur)="changeValue(chartOfAccounts, 'initBalance', $event)">{{chartOfAccounts.accountInitBalance | currency: 'USD': "symbol": '1.2-2'}} </td>
            <td >{{chartOfAccounts.createdBy}} </td>
            <td >{{chartOfAccounts.createdDate |date:'MM/dd/yyyy h:mma'}} </td>
<!--            <td (blur)="changeValue(chartOfAccounts, 'debit', $event)">{{chartOfAccounts.debit | currency: 'USD': "symbol": '1.2-2'}} </td>-->
<!--            <td (blur)="changeValue(chartOfAccounts, 'credit', $event)">{{chartOfAccounts.credit | currency: 'USD': "symbol": '1.2-2'}} </td>-->
            <td >{{chartOfAccounts.statement}} </td>
<!--            <td >{{chartOfAccounts.accountDesc}} </td>-->
            <td >{{chartOfAccounts.comment}} </td>
            <td style="text-align: center"  [hidden]="!chartOfAccounts.accountActive"><a (click)="deactivateAccount(chartOfAccounts)" class="text-danger">Deactivate</a></td>
            <td style="text-align: center"  [hidden]="chartOfAccounts.accountActive"><a (click)="activateAccount(chartOfAccounts)" class="text-danger">Activate</a></td>
            <td>
                <button matTooltip="edit the account" mat-menu-item [routerLink]="['/accounts/edit',chartOfAccounts.id]">
                    <span>Edit</span>
                </button>
            </td>
            <td>
                <button matTooltip="edit the account" mat-menu-item [routerLink]="[chartOfAccounts.id, 'view']">
                    <span>View</span>
                </button>
            </td>
        </tr>
        </tbody>

        <tbody>
        <tr *ngFor="let chartOfAccounts of mf.data" [hidden]="currentUser.role === '1'">
            <td  style="color: blue"> <a (click)="setLedgerSortEntry(chartOfAccounts.accountName, chartOfAccounts.accountNumber)">
            {{chartOfAccounts.accountNumber}}</a></td>
            <td >{{chartOfAccounts.accountOrder}} </td>
            <td  style="color: blue"><a (click)="setLedgerSortEntry(chartOfAccounts.accountName, chartOfAccounts.accountNumber)">
                {{chartOfAccounts.accountName}} </a></td>
            <td >{{chartOfAccounts.accountType}} </td>
            <td >{{chartOfAccounts.accountSubType}} </td>
            <td style="text-align: center">{{chartOfAccounts.normalSide}}</td>
            <td >{{chartOfAccounts.accountBalance | currency: 'USD': "symbol": '1.2-2'}} </td>
            <td >{{chartOfAccounts.accountInitBalance | currency: 'USD': "symbol": '1.2-2'}} </td>
            <td >{{chartOfAccounts.createdBy}} </td>
            <td >{{chartOfAccounts.createdDate |date:'MM/dd/yyyy h:mma'}} </td>
<!--            <td >{{chartOfAccounts.debit | currency: 'USD': "symbol": '1.2-2'}} </td>-->
<!--            <td >{{chartOfAccounts.credit | currency: 'USD': "symbol": '1.2-2'}} </td>-->
            <td >{{chartOfAccounts.statement}} </td>
<!--            <td >{{chartOfAccounts.accountDesc}} </td>-->
            <td >{{chartOfAccounts.comment}} </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <mfBootstrapPaginator
                        [rowsOnPageSet]="[5, 10, 15, 30]"
                ></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
