.pagination{
  offset: top;
}

button {
  left: 500px;
  bottom: 60px;
}

.alert-danger {
  margin-right: -100px;
  width: 280px;
}

::after, ::before {
  box-sizing: content-box;
}

.menu-bar {
  float: right;
}

.sidenav-user-role {
  text-align: center;
  left:50%;
  margin-left: -25%;
  display: inline-table;
  background-color: white;
}

.sidenav{
  text-align: center;
  left:50%;
  margin-left: -35%;
  display: inline-table;
  background-color: white;
}

th{
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
}
td {
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  padding: 10px;
}

.thead {
  text-align: center;
}

th:hover {
  color: #5990a0;
}

th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

.redfamily {
  color: red;
}

.search-box,.close-icon,.search-wrapper {
  padding: 10px;
}


.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  margin-bottom: 14px;
  margin-top: 14px;
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

a:hover {
  background-color: yellow;
}
