<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="title-container-header">
      <div class="center">Owl Accounting</div>
      <div class="center">Trial Balance</div>
      <div class="center">As of {{ date | date:'MMMM dd, yyyy'}}</div>
    </div>
    <br>
    <button mat-raised-button color="primary" type="button" value="Download" (click)="captureScreen()">Download</button>

    <table class="table table-striped" id="trial-balance-table">
      <thead>
        <tr>
          <th>Account</th>
          <th class="align-right">Debit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
          <th class="align-right">Credit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountType === 'Asset' && account.accountName !== 'Accumulated Depreciation') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a>
        </td>
        <td class="align-right" *ngIf="(account.accountType === 'Asset' && account.accountName !== 'Accumulated Depreciation') && account.accountActive === true">
          <span style="float: right" *ngIf="account.accountName === sortAssets()"></span>
            {{account.accountBalance | number:'1.2'}} &nbsp; &nbsp; &nbsp;
        </td>
        <td *ngIf="(account.accountType === 'Asset' && account.accountName !== 'Accumulated Depreciation') && account.accountActive === true"></td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountName === 'Accumulated Depreciation') && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a></td>
        <td class="align-right1" *ngIf="(account.accountName === 'Accumulated Depreciation') && account.accountActive === true">
          <span *ngIf="account.accountName === sortAssets()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{account.accountBalance | number:'1.2'}}</td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountType === 'Liability' ) && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a></td>
        <td *ngIf="(account.accountType === 'Liability')&& account.accountActive === true"></td>
        <td class="align-right" *ngIf="(account.accountType === 'Liability') && account.accountActive === true">
          <span *ngIf="account.accountName === sortLiability()"></span>
          {{account.accountBalance | number:'1.2'}} &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountType === 'Equity' ) && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a></td>
        <td *ngIf="(account.accountType === 'Equity')&& account.accountActive === true "></td>
        <td class="align-right" *ngIf="(account.accountType === 'Equity') && account.accountActive === true ">
          {{account.accountBalance | number:'1.2'}} &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountType === 'Revenue' ) && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a></td>
        <td *ngIf="(account.accountType === 'Revenue')&& account.accountActive === true"></td>
        <td class="align-right" *ngIf="(account.accountType === 'Revenue') && account.accountActive === true">
          {{account.accountBalance | number:'1.2'}} &nbsp; &nbsp; &nbsp;</td>
      </tr>

      <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
        <td *ngIf="(account.accountType === 'Expense' ) && account.accountActive === true">
          <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)">{{account.accountName}}</a></td>
        <td class="align-right" *ngIf="(account.accountType === 'Expense') && account.accountActive === true">
          {{account.accountBalance | number:'1.2'}} &nbsp; &nbsp; &nbsp;</td>
        <td *ngIf="(account.accountType === 'Expense')&& account.accountActive === true"></td>
      </tr>

      <tr class="hoverStyle" >
        <td><b>Total:</b></td>
          <td><span class="doubleUnderline"><b>{{ totalDebits() - getSpecificAccountBalance('Accumulated Depreciation')
                  | currency: 'USD': "symbol": '1.2-2'}}</b></span></td>
          <td><span class="doubleUnderline"><b>{{ totalCredits() -  getSpecificAccountBalance('Accumulated Depreciation')
                  | currency: 'USD': "symbol": '1.2-2'}} </b></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
