.toast-bottom-right {
    top: 12px;
    right: 12px;
    opacity: 0.5;

}

@media (max-width: 575.98px) {
    .toast-bottom-right {
        top: unset;
        bottom: 0;
        right: 0;
        width: 100%;
        opacity: 0.5;

    }
    .toast-container.toast-bottom-right .toast {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }
}

.mat-button-toggle-checked {
    background-color: #3f52b5;
    color: white;
}

.mat-button-toggle {
    font-size: 16px;
    font-weight: 400;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.dot-green {
    background-color: green;
}

.dot-yellow {
    background-color: orange;
}
.dot-red {
    background-color: red;
}

.sidenav{
    text-align: center;
    margin-left: 10%;
    float: none;
}

#journalDescription {
    width: 350px;
    padding: 7px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.table thead th {
    vertical-align: baseline;
}

.table {
    position: relative;
    right: 0%;
}
.sidenav1{
    text-align: center;
    left:50%;
    margin-left: 300px;
    margin-right: auto;
    max-width: 1000px;
    float: none;
}
.credit-account{
    padding-left: 20px;
}
.input-group{
    width: 180px;
}

.alert-danger{
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

.button{
    margin: 10px;
}

.account-input{
    max-width: 100px;
}

th{
    text-align: center;
}
th:hover {
    color: #5990a0;
}

.right{
    float: right;
}

th a.sort-by {
    padding-right: 18px;
    position: relative;
}
a.sort-by:before,
a.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
a.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
}

.redfamily {
    color: red;
}

.search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
}

.search-box {
    /*margin-bottom: 14px;*/
    /*margin-top: 14px;*/
    width: 40%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 5px;
    font-size: 16px;
    float: left;
}

.my-header {
    width: 180%;
    float: left;
}
.my-header h3 {
    display: inline;
}

.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
    display: none;
}

th{
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
}
td {
    text-align: center;
    font-size: 18px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px 10px;
    /*border-radius: 8px;*/
    font-size: 20px;
    font-weight: bold;
}

.btn:hover{
    color: #126178;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
