<div class="reset-page">

    <h1>
        Forgot password?
    </h1>
    <div class="form">
        <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                        <input type="text" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
            </form>
    </div>
</div>

                

