<div class="row">
    <div class="col-sm-6 offset-sm-3">
      <app-sidebar-menu></app-sidebar-menu>
      <div class="title-container-header">
        <div class="center">Owl Accounting</div>
        <div class="center">Income Statement</div>
        <div class="center">Period ending in {{date | date:'MMMM dd, yyyy'}}</div>
      </div>
      <span>Sort by Date: </span>
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="date" type="date" class="form-control" name="date" (change)="dateChange()">
      </div>
      <button mat-raised-button color="primary" type="button" value="Download" (click)="captureScreen()">Download</button>
      <br>
      <table style="border: 1px solid #ddd;" id="income-statement-table" class="table table-striped" *ngIf="!dateSelectorEnabled">
        <thead>
        <tr>
          <th></th>
          <th style="float: right">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-color"><td><div class="table-heading">Revenue</div></td>
          <td></td><td></td></tr>
        <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
          <td *ngIf="(account.accountType === 'Revenue') && account.accountActive === true">
            <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
          <td style="float: right" *ngIf="(account.accountType === 'Revenue') && account.accountActive === true">
            {{account.accountBalance | currency: 'USD': "symbol": '1.2-2'}}</td>
          <td *ngIf="(account.accountType === 'Revenue') && account.accountActive === true"></td>
        </tr>
        <tr>
          <td> &nbsp; &nbsp;Total</td>
          <td><span style="float: right" class="singleUnderline">{{ totalRevenue() | number:'1.2'}}</span></td>
        </tr>
        <tr class="header-color"><td><div class="table-heading">Expense</div></td>
          <td></td><td></td></tr>

        <tr class="hoverStyle" *ngFor="let account of adjustAccount()">
          <td *ngIf="(account.accountType === 'Expense') && account.accountActive === true">
            <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
          <td style="float: right" *ngIf="(account.accountType === 'Expense') && account.accountActive === true">
            {{account.accountBalance | number:'1.2'}}</td>
          <td *ngIf="(account.accountType === 'Expense') && account.accountActive === true"></td>
        </tr>
        <tr>
          <td><b> &nbsp; &nbsp;Total</b></td>
          <td><span style="float: right" class="singleUnderline"><b>{{totalExpense() | number:'1.2'}}</b></span></td>
        </tr>
        <tr class="header-color"><td><div class="table-heading">Net Income (Net Loss)</div></td>
          <td><span style="float: right" class="doubleUnderline"><b>{{totalRevenue() - totalExpense() | currency: 'USD': "symbol": '1.2-2'}}
          </b></span></td></tr>
        </tbody>
      </table>


      <table style="border: 1px solid #ddd;" class="table table-striped" *ngIf="dateSelectorEnabled">
        <thead>
        <tr>
          <th></th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-color"><td><div class="table-heading">Revenue</div></td>
          <td></td><td></td></tr>
        <tr class="hoverStyle" *ngFor="let account of accountList">
          <td *ngIf="(account.accountType === 'Revenue') && account.accountActive === true">
            <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
          <td style="float: right" *ngIf="(account.accountType === 'Revenue') && account.accountActive === true">
            {{account.accountBalance | number:'1.2'}}</td>
          <td *ngIf="(account.accountType === 'Revenue') && account.accountActive === true"></td>
        </tr>
        <tr>
          <td><b> &nbsp; &nbsp;Total</b></td>
          <td><span style="float: right" class="singleUnderline"><b>{{revenueAdjustment() | number:'1.2'}}</b></span></td>
        </tr>
        <tr class="header-color"><td><div class="table-heading">Expense</div></td>
          <td></td><td></td></tr>

        <tr class="hoverStyle" *ngFor="let account of accountList">
          <td *ngIf="(account.accountType === 'Expense') && account.accountActive === true">
            <a style="color: blue" (click)="setLedgerSortEntry(account.accountName, account.accountNumber)"> &nbsp; &nbsp;{{account.accountName}}</a></td>
          <td style="float: right" *ngIf="(account.accountType === 'Expense') && account.accountActive === true">
            {{account.accountBalance | number:'1.2'}}</td>
          <td *ngIf="(account.accountType === 'Expense') && account.accountActive === true"></td>
        </tr>
        <tr>
          <td><b> &nbsp; &nbsp;Total</b></td>
          <td><span style="float: right" class="singleUnderline"><b>{{expenseAdjustment() | currency: 'USD': "symbol": '1.2-2'}}</b></span></td>
        </tr>
        <tr class="header-color"><td><div class="table-heading">Net Income (Net Loss)</div></td>
          <td><span style="float: right" class="doubleUnderline"><b>{{revenueAdjustment() - expenseAdjustment() | currency: 'USD': "symbol": '1.2-2'}}</b></span></tr>
        </tbody>
      </table>
      <br>
    </div>
</div>
