.table-heading {
  font-size: 20px;
  font-weight: bold;
}

.table td {
  padding: 0.25rem;
}

.table th {
  padding: 0.5rem;
}

.center{
  text-align: center;
  font-size: 24px;
  color: white;
}

.credit-margin{
  margin-left: 20px;
}

.doubleUnderline {
  text-align: right;
  text-decoration:underline;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.singleUnderline{
  text-align: right;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.align-right{
  text-align: right;
}

.custom-select{
  padding-right: 5px;

}
.input-group{
  width: 180px
}

.title-container-header{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #3D7AC1 ;
}

