<div class="row">
  <div class="col-sm-6 offset-sm-2">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="title-container-header">
      <div class="center">Owl Occounting</div>
      <div class="center">Statement of Retained Earnings</div>
      <div class="center">As of {{date | date:'MMMM dd yyyy'}}</div>
    </div>
    <span>Sort by Date: </span>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="date" type="date" class="form-control" name="date" (change)="dateChange()">
    </div>
    <button mat-raised-button color="primary" type="button" value="Download" (click)="captureScreen()">Download</button>
    <br>

    <table style="border: 1px solid #ddd;" class="table table-striped" id="retained-earnings-table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th style="text-align: right">Total</th>
      </tr>
      </thead>
      <tbody>

      <tr class="hoverStyle">
        <td>Begining Balance</td>
        <td></td>
        <td style="text-align: right">$0.00</td>
      </tr>

      <tr>
        <td>Net Income</td>
        <td></td>
        <td class="align-right">{{totalRevenue() - totalExpense() | number:'1.2'}}</td>
      </tr>

      <tr class="hoverStyle">
        <td>Less Drawings</td>
        <td></td>
        <td style="text-align: right">0.00</td>
      </tr>

      <tr class="hoverStyle">
        <td>Ending Balance</td>
        <td></td>
        <td style="text-align: right"><span class="doubleUnderline"><b>{{totalRevenue() - totalExpense() | currency: 'USD': "symbol": '1.2-2'}}</b></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
