<div class="my-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="my-toolbar">
<!--    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <span>OwlAccounting</span><span class="example-spacer"></span>
    <span><img src="./assets/logo11.png" alt="OwlAccountingLogo" style="width:120px;height:60px;margin-right:400px; margin-bottom: -10px;"></span>
    <div class="md-toolbar-tools" fxShow="true" fxHide.lt-md="true">
      <span class="example-spacer"></span>
      <a [routerLink]="['/home']" mat-button>Dashboard</a>
      <a [routerLink]="['/accounts']" mat-button>Chart of accounts</a>
      <a *ngIf="currentUser?.role === '1'" [routerLink]="['/userAccounts']" mat-button>User Accounts</a>
      <a *ngIf="currentUser?.role !== '1'" [routerLink]="['/journalize']" mat-button>Journalize</a>
      <a *ngIf="currentUser?.role !== '3'" [routerLink]="['/logsPage']" mat-button>Event Logs</a>

      <span class="dropdown-item" *ngIf="currentUser?.role !== '1'" dropdown (onShown)="onShown()" (onHidden)="onHidden()"
            (isOpenChange)="isOpenChange()" class="open-show">
        <a href id="basic-link" dropdownToggle (click)="false" >View statements</a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="basic-link">
          <li>
            <a class="dropdown-item" [routerLink]="['/trial-balance']">Trial Balance</a>
            <a class="dropdown-item" [routerLink]="['/retained-earnings']">Retained earnings</a>
            <a class="dropdown-item" [routerLink]="['/balance-sheet']">Balance sheet</a>
            <a class="dropdown-item" [routerLink]="['/income-statement']">Income statement</a>
          </li>
        </ul>
      </span>
      <a mat-button color="warn" [routerLink]="['/login']">Logout</a>
      <a style="margin-left: 20px"> {{currentUser?.username}}</a>
      <a *ngIf="currentUser?.role === '1'"> (Admin)</a>
      <a  *ngIf="currentUser?.role === '2'"> (Manager)</a>
      <a  *ngIf="currentUser?.role === '3'"> (Accountant)</a>
      <img src="./assets/img_avatar.png" class="avatar-image"
           style="width:50px;height:50px; margin-left: 10px; display: inline">
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
    </div>
  </mat-toolbar>
</div>

