.pagination{
  offset: top;
}

button {
  left: 100px;
  bottom: 5px;
  margin-bottom: 50px;
}

.alert-danger {
  margin-right: -100px;
  width: 280px;
}

::after, ::before {
  box-sizing: content-box;
}

.sidenav{
  text-align: center;
  max-width: 1000px;
  float: none;
  height: 10px;
  margin-left: 60px;
  display: inline-table;
  background-color: white;
}

th{
  text-align: center;
  font-size: 14px;
}
td {
  text-align: center;
  font-size: 14px;
}

.thead {
  text-align: center;
}

/*.btn-basic {*/
/*  display: block;*/
/*  margin: auto;*/
/*}*/

th:hover {
  color: #5990a0;
}

a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

.redfamily {
  color: red;
}
.search-box,.close-icon,.search-wrapper {
  padding: 10px;
}

.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  margin-bottom: 14px;
  margin-top: 14px;
  width: 70%;
  position: sticky;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  /*display: inline-table;*/
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

a:hover {
  background-color: yellow;
}
