<app-sidebar-menu></app-sidebar-menu>
<br>
<div id="netIncomeDiv">
<h2>
    <h2>Current Ratio</h2>
    <br>
<p>
    <span 
    [class.dot-red]="crRed"
    [class.dot-green]="crGreen"
    [class.dot-yellow]="crYellow"
    ></span>
    {{this.calculateCurrentRatio() | number : '1.2-2' }}
</p>

    
</h2>
<br>

<br>

    <h2>Quick Ratio</h2>
    <br>
    <h2>
        <span class="dot"></span>
      {{this.calculateQuickRatio() | number : '1.2-2' }}
    </h2>

    <br>

<br>

    <h2>Assets Turnover</h2>
    <br>
    <h2>
        <span class="dot"></span>
      {{this.calculateTotalAssetsTurnover() | number : '1.2-2'}}
    </h2>

    