<app-sidebar-menu></app-sidebar-menu>

<div style="display: block;">
    <canvas baseChart 
      [data]="pieChartData" *ngIf="pieChartData"
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
  </div>

<br>
<div id="netIncomeDiv">
<h2>
    <h2>Current Ratio</h2>
    <br>
<p>
    
    {{this.calculateCurrentRatio() | number : '1.2-2' }}
</p>

    
</h2>
<br>

<br>

    <h2>Quick Ratio</h2>
    <br>
    <h2>
        
      {{this.calculateQuickRatio() | number : '1.2-2' }}
    </h2>

    <br>

<br>

    <h2>Assets Turnover</h2>
    <br>
    <h2>
        
      {{this.calculateTotalAssetsTurnover() | number : '1.2-2'}}
    </h2>

    