h2{
    text-align: center;
}

h3{
    margin-right: 0px;
}

#netIncomeDiv{
    
    background-color: #f2f2f2;
    border-radius: 10px;
}

.dot-green {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;

  }

  .dot-yellow {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-red {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }