@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.form-group {
    width: 100%;
}
.register-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.invalid-feedback {
}

.form {
    position: relative;
    height: 160%;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .btn-link {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .btn-link a {
    color: #4CAF50;
    text-decoration: none;
}
.form .login-form {
    display: none;
}

